{% extends 'base.html.twig' %}

{% block title %}Hello ActeursController!{% endblock %}

{% block body %}
<a href="{{ url('acteurs_create') }}">Nouvel Acteur</a>

<div>
    {% for acteur in acteurs %}
        <h2>#{{ acteur.id }} : {{ acteur.prenom }} {{acteur.nom}}</h2>
        <h3>Né(e) le : {{ acteur.DateDeNaissance|date("d/m/Y") }}</h3>
        <h3>Mort(e) le :  {{ acteur.DateDeMort is empty ? "" : acteur.DateDeMort|date("d/m/Y") }}</h3>
        <a href="{{ url('acteurs_edit',{ 'id':acteur.id }) }}">Editer</a>
        <br/>
        {% if acteur.films|length == 0 %}
        {% endif %}
        <a href="{{ url('acteurs_delete',{ 'id':acteur.id }) }}">Supprimer</a>
        
        
        
        <hr>
        
    {% endfor %}
</div>


{% endblock %}
